<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{- partial "favicon.html" . -}}
  <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title>

  {{- partial "seo_tags.html" . -}}
  <meta name="referrer" content="no-referrer-when-downgrade" />

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{- partial "style.html" . -}}
</head>

<body class="min-h-screen bg-slate-900 text-slate-100 font-mono">
  <header>
    {{- partial "header.html" . -}}
  </header>
  <main class="pt-16 min-h-screen">
    {{- block "main" . }}{{- end }}
  </main>
  <footer class="min-h-screen">
    {{- partial "footer.html" . -}}
  </footer>
</body>

</html>